// $background: #180C0E;
// $white: #D7D7D7;

// $background: #2e8ba3;
// $white: #c8e6ee;
// $dark: #0f5c70;
// $darkest: #f0e4e0;

// $background: #29343d;
$background: #1e272e;
$white: #7e96a9;
$dark: #181f25;
$darkest: #101519;
$lighten: #b6c3ce;
